<div class="row">
  <div class="col-md-12 col-xs-12">
    Filter: <input type="text" [value]="filterValue" (input)="filterValue = $event.target.value" /> 
  </div>
  <div *ngFor="let data of datas|cardfilter:filterValue" class="cardset col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{data.title}}</h3>
        <p class="card-text">{{data.text}}</p>
        <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
      </div>
    </div>
  </div>
</div>